# Web app name
NEXT_PUBLIC_APPNAME = PokeLog

# The Pokemon API endpoint
NEXT_PUBLIC_POKEMON_API = https://graphql-pokemon2.vercel.app/

# Number of pokemons to be generated statically at the build time
NEXT_PUBLIC_POKEMONS_PRELOAD_COUNT = 60

# Number of pokemons detail page to be generated statically at the build time
NEXT_PUBLIC_SINGLE_POKEMON_PRELOAD_COUNT = 20

# Number of pokemons to be displayed in a single page
NEXT_PUBLIC_POKEMONS_PER_PAGE = 20

# Github link for the project
NEXT_PUBLIC_GITHUB_LINK = <your github handle>